body {
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.accordion-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.7s ease-in-out, padding 0.7s ease-in-out;
}
.accordion-item.active .accordion-content {
  max-height: 1200px;
  padding-top: 1rem;
  padding-bottom: 1.5rem;
}
.accordion-item.active .accordion-icon {
  transform: rotate(180deg);
}
.accordion-icon {
  transition: transform 0.5s ease-in-out;
}
